body{
    background-color: #FF900E1A;
    ;
    
}

/* Menu_Section */
.menu_bar{
    background-color: #ffffff;
}


.my_nav{
    border-radius: 0px 80px;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
}

.navbar-brand img{
    width: 150px;
    margin-left: 45px;
}

.navbar-nav{
    margin-right: 50px !important;
}

.navbar-nav li{
    margin: 0px 10px 0px 10px;
}

.navbar-nav li a{
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.navbar-nav li a:hover{
    color: #ffffff;
    background-color: #FF900E;
    border-radius: 10px;
    transition: all .57s ease-in-out;
}

.active{
    background-color: #FF900E;
    border-radius: 10px;
    color: #ffffff !important;
}

/* text_section */
.text_section{
    text-align: center;
}

.text_section h1{
    font-size: 64px;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    line-height: 76px;
    margin-top: 30px;
}

.text_section p{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.explormorebtn{
    width: 180px;
    height: 64px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    border: none;
    background-color: #FF900E;
    border-radius: 10px;
}

.explormorebtn:hover{
    font-size: 22px;
    font-weight: 700;
    transition: all .57s ease-in-out;
}

/* slider_section */
.slider_section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.slider_section img{
    border-radius: 10px;
}

/* Features_Section */
.features_section{
    margin-top: 30px;
}

.features_img img{
    width: 250px;
    height: 250px;
    padding: 5px;
}

.future_text_section{
   margin-top: 25%;
}

.future_text_section h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 400;
}

.chng{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 700;
    color: #FF900E;
}

/* Experience_Section */
.experience_section{
    margin-top: 50px;
}

.experience_text h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 700;
    border-left: 10px solid #FF900E;
    padding-left: 20px;
}

.experience_text p{
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    color: #727272;

}

.content_box{
    background-color: #FFFFFF;
    box-shadow: 3px 0px 10px 8px rgba(13,12,12,0.53);
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.content_box h2{
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
}

.experience_image img{
    border-radius: 10px;
    width: 100%;
    margin-top: 230px;
}

/* Fact_section */
.fact_section{
    margin-top: 50px;
}

.fact_section h1{
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    padding-bottom: 10px;
}

.fact_section p{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.experience{
    text-align: center;
}

.img_board{
    border: 4px solid #FF900E;
    padding: 5px;
    margin: 5px;
}

/* Sponspors_Section */
.sponspor_section{
    margin-top: 40px;
    text-align: center;
    border-top: 2px solid #FF900E;
}

.sponspor_text h1{
    font-size: 45px;
    font-weight: 800;
    font-family: 'Roboto Mono', monospace;
    margin-top: 30px;
}

.sponspor_text p{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
}

.sponspor_logos{
    margin-top: 30px;
    margin-bottom: 50px;
}

.sponspor_logo img{
    width: 165px;
    height: 50px;
}

footer p{
    text-align: center;
    color: #faf7f7;
    background-color: #FF900E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
}

footer a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}
